@using Microsoft.AspNet.Identity


<ul class="nav navbar-nav navbar-right">
    <li class="">

        @if (Request.IsAuthenticated)
        {
            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                @{
                    var splices = User.Identity.GetUserName().Split('@');
                    var name = splices[0];
                    @name;
                }
                <span class=" fa fa-angle-down"></span>
            </a>
            <ul class="dropdown-menu dropdown-usermenu pull-right">
                <li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></h4>

                    }
                </li>
            </ul>
        }
        else
        {
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        }

    </li>
  
</ul>


















