@{

    ViewBag.Title = "Home Page";
}

<script src="~/node_modules/vis/dist/vis.js"></script>
<link href="~/node_modules/vis/dist/vis.css" rel="stylesheet" />
<script src="~/Scripts/angular.js"></script>
<div ng-app="app">
    <ng-view></ng-view>
</div>
