<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>JADWAL <small></small></h2>
                
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row col-md-3" style="margin-bottom:10px">
                    <label>Periode</label>
                    <select class="form-control" ng-options="item as monthNames[item.Bulan]+' '+item.Tahun for item in Periodes track by item.idperiode" ng-model="selected" ng-change="SelectedItem(selected)"></select>
                    <div class="clearfix"></div>
                </div>
                <table ng-show="selected!=undefided" style="margin-top:30px" class=" table table-bordered table-striped">
                    <tr>
                        <th>Perawat</th>
                        <th ng-repeat="d in Jadwals[0].Jadwals">{{d.Tanggal |date:'d'}}</th>
                    </tr>
                    <tr ng-repeat="item in Jadwals">
                        <td>{{item.Nama}}</td>
                        <td ng-repeat="date in item.Jadwals">
                            <div>{{date.Shif}}</div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>